.homeFolders {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: absolute;
}

.homeFolders .div {
  background-color: var(--background);
  width: 393px;
  height: 852px;
  position: relative;
}

.homeFolders .frame {
  position: absolute;
  width: 361px;
  height: 183px;
  top: 322px;
  left: 16px;
  border-radius: 20px 20px 0px 0px;
  background: linear-gradient(
    180deg,
    rgba(51, 76, 63, 1) 0%,
    rgba(0, 26, 35, 1) 100%
  );

  z-index: 5;
}

.homeFolders .frameOpen {
  position: absolute;
  width: 361px;
  height: 324px;
  top: 322px;
  left: 16px;
  border-radius: 20px 20px 0px 0px;
  background: linear-gradient(
    180deg,
    rgba(51, 76, 63, 1) 0%,
    rgba(0, 26, 35, 1) 100%
  );

  z-index: 5;
}

.homeFolders .overlap-group-2 {
  position: relative;
  width: 21px;
  height: 12px;
  top: -1px;
}


.homeFolders .title-tab {
  margin: 0.45em;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--background);
  font-size: 44px;
  letter-spacing: 0;
  line-height: normal;
}

.homeFolders .overlap {
  position: absolute;
  width: 361px;
  height: 389px;
  top: 141px;
  left: 0;
}

.homeFolders .overlapOpen {
  position: absolute;
  width: 361px;
  height: 243px;
  top: 287px;
  left: 0;
}

.homeFolders .reminders {
  position: absolute;
  width: 361px;
  height: 169px;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0px 0px;
  background: linear-gradient(
    180deg,
    rgba(179, 239, 178, 1) 0%,
    rgba(103, 137, 102, 1) 100%
  );
}

.homeFolders .remindersOpen {
  position: absolute;
  width: 361px;
  height: 125px;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0px 0px;
  background: linear-gradient(
    180deg,
    rgba(179, 239, 178, 1) 0%,
    rgba(103, 137, 102, 1) 100%
  );
}

.homeFolders .arrow {
  position: absolute;
  width: 24px;
  height: 13px;
  top: 46px;
  left: 318px;
}

.homeFolders .arrowOpen {
  position: absolute;
  width: 24px;
  height: 13px;
  top: 46px;
  left: 318px;
  transform: rotate(-180deg);
}

.homeFolders .text-wrapper-7 {
  position: absolute;
  width: 236px;
  height: 67px;
  top: 19px;
  left: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #fefffb;
  font-size: 44px;
  letter-spacing: 0;
  line-height: normal;
}

.homeFolders .text-wrapper-8 {
  position: absolute;
  top: 96px;
  left: 20px;
  background: linear-gradient(
    180deg,
    rgba(254, 255, 252, 1) 0%,
    rgba(117, 152, 121, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.homeFolders .calendar {
  position: absolute;
  width: 361px;
  height: 248px;
  top: 141px;
  left: 0;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(122, 158, 126, 1) 0%,
    rgba(51, 76, 63, 1) 100%
  );
}

.homeFolders .calendarOpen {
  position: absolute;
  width: 361px;
  height: 141px;
  top: 102px;
  left: 0;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(122, 158, 126, 1) 0%,
    rgba(51, 76, 63, 1) 65%
  );
}

.homeFolders .text-wrapper-9 {
  position: absolute;
  width: 217px;
  height: 67px;
  top: 19px;
  left: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #fefffb;
  font-size: 44px;
  letter-spacing: 0;
  line-height: normal;
}

.homeFolders .text-wrapper-10 {
  position: absolute;
  width: 87px;
  height: 49px;
  top: 96px;
  left: 22px;
  background: linear-gradient(
    180deg,
    rgba(254, 255, 252, 1) 0%,
    rgba(51, 76, 63, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

