.open-folders {
  background-color: #fefffb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.open-folders .div {
  background-color: var(--background);
  width: 393px;
  height: 852px;
  position: relative;
}

.open-folders .head {
  position: absolute;
  width: 363px;
  height: 50px;
  top: 54px;
  left: 16px;
}

.open-folders .user-icon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 311px;
}

.open-folders .text-wrapper {
  position: absolute;
  top: 11px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--text);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.open-folders .date {
  position: absolute;
  width: 248px;
  height: 104px;
  top: 124px;
  left: 16px;
}

.open-folders .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--clear-green);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.open-folders .text-wrapper-3 {
  position: absolute;
  width: 244px;
  height: 67px;
  top: 37px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--text);
  font-size: 44px;
  letter-spacing: 0;
  line-height: normal;
}

.open-folders .search {
  display: flex;
  width: 361px;
  height: 54px;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
  position: absolute;
  top: 248px;
  left: 16px;
  background-color: #31493c1a;
  border-radius: 12px;
  border: 1px solid;
  border-color: #31493c4c;
}

.open-folders .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #001a234c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.open-folders .img {
  position: relative;
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.open-folders .frame {
  position: absolute;
  width: 361px;
  height: 529px;
  top: 323px;
  left: 16px;
  background-color: var(--g-3);
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
}

.open-folders .overlap {
  position: relative;
  height: 529px;
  border-radius: 12px 12px 0px 0px;
}

.open-folders .text-wrapper-5 {
  position: absolute;
  width: 215px;
  height: 67px;
  top: 19px;
  left: 21px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--background);
  font-size: 44px;
  letter-spacing: 0;
  line-height: normal;
}

.open-folders .second {
  position: absolute;
  width: 361px;
  height: 383px;
  top: 136px;
  left: 0;
  background-color: var(--g-1);
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
}

.open-folders .text-wrapper-6 {
  position: absolute;
  width: 236px;
  height: 67px;
  top: 13px;
  left: 21px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #fefffb;
  font-size: 44px;
  letter-spacing: 0;
  line-height: normal;
}

.open-folders .calendar {
  position: absolute;
  width: 361px;
  height: 259px;
  top: 260px;
  left: 0;
  background-color: var(--g-2);
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
}

.open-folders .text-wrapper-7 {
  position: absolute;
  width: 217px;
  height: 67px;
  top: 18px;
  left: 18px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #fefffb;
  font-size: 44px;
  letter-spacing: 0;
  line-height: normal;
}

.open-folders .folders {
  position: absolute;
  width: 361px;
  height: 529px;
  top: 0;
  left: 0;
  background-color: var(--text);
  border-radius: 12px 12px 0px 0px;
}

.open-folders .text-wrapper-8 {
  position: absolute;
  width: 161px;
  height: 67px;
  top: 19px;
  left: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #fefffb;
  font-size: 44px;
  letter-spacing: 0;
  line-height: normal;
}

.open-folders .studying {
  position: absolute;
  width: 322px;
  height: 199px;
  top: 107px;
  left: 21px;
}

.open-folders .arrow {
  top: 10px;
  position: absolute;
  width: 24px;
  height: 13px;
  left: 297px;
}

.open-folders .line {
  position: absolute;
  width: 4px;
  height: 33px;
  top: -2px;
  left: -2px;
}

.open-folders .text-wrapper-9 {
  position: absolute;
  top: 2px;
  left: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--background);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.open-folders .paragraph {
  position: absolute;
  width: 280px;
  height: 65px;
  top: 49px;
  left: 20px;
}

.open-folders .p {
  position: absolute;
  width: 278px;
  top: 31px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}

.open-folders .curriculum {
  width: 158px;
  height: 21px;
  position: absolute;
  top: 0;
  left: 0;
}

.open-folders .text-wrapper-10 {
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--background);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  left: 0;
}

.open-folders .text-wrapper-11 {
  position: absolute;
  width: 67px;
  top: 3px;
  left: 87px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.open-folders .paragraph-2 {
  position: absolute;
  width: 280px;
  height: 65px;
  top: 134px;
  left: 20px;
}

.open-folders .subjects {
  width: 142px;
  height: 21px;
  position: absolute;
  top: 0;
  left: 0;
}

.open-folders .text-wrapper-12 {
  position: absolute;
  width: 67px;
  top: 3px;
  left: 71px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.open-folders .studying-2 {
  position: absolute;
  width: 322px;
  height: 30px;
  top: 331px;
  left: 21px;
}

.open-folders .arrow-2 {
  top: 9px;
  position: absolute;
  width: 24px;
  height: 13px;
  left: 297px;
}

.open-folders .studying-3 {
  position: absolute;
  width: 322px;
  height: 30px;
  top: 381px;
  left: 21px;
}

.open-folders .nav {
  position: absolute;
  width: 271px;
  height: 54px;
  top: 441px;
  left: 45px;
  background-color: #31493c4c;
  border-radius: 12px;
}

.open-folders .overlap-group {
  position: relative;
  width: 249px;
  height: 54px;
}

.open-folders .rectangle {
  position: absolute;
  width: 98px;
  height: 54px;
  top: 0;
  left: 0;
  background-color: #7a9e7e4c;
  border-radius: 12px;
}

.open-folders .nav-2 {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  position: absolute;
  top: 15px;
  left: 21px;
}

.open-folders .text-wrapper-13 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--background);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.open-folders .new {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 170px;
  left: 327px;
  background-color: var(--text);
  border-radius: 25px;
}

.open-folders .overlap-2 {
  position: relative;
  width: 32px;
  height: 32px;
  top: 9px;
  left: 9px;
}

.open-folders .line-2 {
  position: absolute;
  width: 2px;
  height: 32px;
  top: 0;
  left: 16px;
}

.open-folders .line-3 {
  position: absolute;
  width: 32px;
  height: 2px;
  top: 14px;
  left: 0;
}
