.foldersComponent {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: absolute;
}

.foldersComponent .div {
  background-color: var(--background);
  width: 393px;
  height: 852px;
  position: relative;
}

.foldersComponent .overlap {
  position: absolute;
  width: 361px;
  height: 529px;
  top: 323px;
  left: 16px;
  border-radius: 20px 20px 0px 0px;
  z-index: 5;
}

.foldersComponent .div-2 {
  position: absolute;
  width: 361px;
  height: 529px;
  top: 0;
  left: 0;
  background-color: var(--text);
  border-radius: 20px 20px 0px 0px;
}

.foldersComponent .title-tab {
  margin: 0.45em;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #fefffb;
  font-size: 44px;
  letter-spacing: 0;
  line-height: normal;
}

.foldersComponent .category-head {
  display: flex;
  justify-content: space-between;
  margin: 19px;
  width: 323px;
  height: 30px;
}

.foldersComponent .title-category {
  display: flex;
}

.foldersComponent .line {
  width: 4px;
  height: 33px;
}

.foldersComponent .title {
  margin-left: 18px;
  margin-top: 4px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--background);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.foldersComponent .arrow {
  margin-top: 10px;
  width: 24px;
  height: 13px;
}

.foldersComponent .note {
  width: 280px;
  /* height: 65px; */

  margin-left: 40px;
  margin-bottom: 20px
}

.foldersComponent .note-head {
  width: 158px;
  height: 21px;

  display: flex;
  margin-bottom: 5px;
}

.foldersComponent .title-note {
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--background);
  font-size: 14px;
  letter-spacing: 0;
  /* line-height: normal; */
}

.foldersComponent .date-note {
  width: 67px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;

  margin-left: 10px;
}

.foldersComponent .body-note {
  width: 278px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 16px;
}