.additional-options {
  background-color: #fefffb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.additional-options .overlap-wrapper {
  background-color: var(--background);
  width: 393px;
  height: 852px;
}

.additional-options .overlap {
  position: relative;
  width: 377px;
  height: 852px;
  left: 16px;
}

.additional-options .date {
  position: absolute;
  width: 248px;
  height: 104px;
  top: 124px;
  left: 0;
}

.additional-options .text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--clear-green);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .div {
  position: absolute;
  width: 244px;
  height: 67px;
  top: 37px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--text);
  font-size: 44px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .search {
  display: flex;
  width: 361px;
  height: 54px;
  align-items: center;
  justify-content: space-between;
  padding: 14px 20px;
  position: absolute;
  top: 248px;
  left: 0;
  background-color: #31493c1a;
  border-radius: 12px;
  border: 1px solid;
  border-color: #31493c4c;
}

.additional-options .text-wrapper-2 {
  position: relative;
  width: fit-content;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #001a234c;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .img {
  position: relative;
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.additional-options .frame {
  position: absolute;
  width: 361px;
  height: 183px;
  top: 322px;
  left: 0;
  border-radius: 20px 20px 0px 0px;
  background: linear-gradient(
    180deg,
    rgba(51, 76, 63, 1) 0%,
    rgba(0, 26, 35, 1) 100%
  );
}

.additional-options .arrow {
  position: absolute;
  width: 22px;
  height: 11px;
  top: 48px;
  left: 319px;
}

.additional-options .overlap-group {
  position: relative;
  height: 12px;
  top: -1px;
}

.additional-options .line {
  left: 0;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  object-fit: cover;
}

.additional-options .line-2 {
  left: 10px;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  object-fit: cover;
}

.additional-options .text-wrapper-3 {
  position: absolute;
  width: 215px;
  height: 67px;
  top: 19px;
  left: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--background);
  font-size: 44px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .text-wrapper-4 {
  position: absolute;
  top: 96px;
  left: 20px;
  background: linear-gradient(
    180deg,
    rgba(254, 255, 252, 1) 0%,
    rgba(9, 35, 40, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .overlap-2 {
  position: absolute;
  width: 361px;
  height: 389px;
  top: 141px;
  left: 0;
}

.additional-options .reminders {
  position: absolute;
  width: 361px;
  height: 169px;
  top: 0;
  left: 0;
  border-radius: 20px 20px 0px 0px;
  background: linear-gradient(
    180deg,
    rgba(179, 239, 178, 1) 0%,
    rgba(103, 137, 102, 1) 100%
  );
}

.additional-options .text-wrapper-5 {
  position: absolute;
  width: 236px;
  height: 67px;
  top: 19px;
  left: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #fefffb;
  font-size: 44px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .text-wrapper-6 {
  position: absolute;
  top: 96px;
  left: 20px;
  background: linear-gradient(
    180deg,
    rgba(254, 255, 252, 1) 0%,
    rgba(117, 152, 121, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .calendar {
  position: absolute;
  width: 361px;
  height: 248px;
  top: 141px;
  left: 0;
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  background: linear-gradient(
    180deg,
    rgba(122, 158, 126, 1) 0%,
    rgba(51, 76, 63, 1) 100%
  );
}

.additional-options .text-wrapper-7 {
  position: absolute;
  width: 217px;
  height: 67px;
  top: 19px;
  left: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: #fefffb;
  font-size: 44px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .text-wrapper-8 {
  position: absolute;
  width: 87px;
  height: 49px;
  top: 96px;
  left: 22px;
  background: linear-gradient(
    180deg,
    rgba(254, 255, 252, 1) 0%,
    rgba(51, 76, 63, 1) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: transparent;
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .navigation {
  position: absolute;
  width: 271px;
  height: 54px;
  top: 160px;
  left: 45px;
  background-color: var(--text);
  border-radius: 12px;
}

.additional-options .nav {
  display: inline-flex;
  align-items: center;
  gap: 30px;
  position: relative;
  top: 15px;
  left: 21px;
}

.additional-options .text-wrapper-9 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: var(--background);
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .menu {
  position: absolute;
  width: 283px;
  height: 852px;
  top: 0;
  left: 94px;
  background-color: var(--background);
  border-radius: 17px 17px 0px 17px;
  overflow: hidden;
  box-shadow: -30px 4px 120px #314a3e33;
}

.additional-options .user-icon {
  width: 50px;
  top: 54px;
  left: 109px;
  position: absolute;
  height: 50px;
}

.additional-options .user-name {
  width: 189px;
  top: 124px;
  left: 41px;
  position: absolute;
  height: 50px;
}

.additional-options .text-wrapper-10 {
  position: absolute;
  top: 0;
  left: 25px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--text);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .text-wrapper-11 {
  position: absolute;
  top: 32px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #001a234c;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .text-wrapper-12 {
  position: absolute;
  top: 203px;
  left: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--text);
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .text-wrapper-13 {
  position: absolute;
  top: 256px;
  left: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--text);
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .text-wrapper-14 {
  position: absolute;
  top: 309px;
  left: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--text);
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .text-wrapper-15 {
  position: absolute;
  top: 362px;
  left: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--text);
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .text-wrapper-16 {
  position: absolute;
  top: 415px;
  left: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--text);
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .text-wrapper-17 {
  position: absolute;
  top: 777px;
  left: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--text);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}




.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--background);
}