.additional-options {
  background-color: #fefffb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: absolute;
}

.additional-options .overlap-wrapper {
  background-color: var(--background);
  width: 393px;
  height: 852px;
}

.additional-options .overlap {
  position: relative;
  width: 377px;
  height: 852px;
  left: 16px;
}

.additional-options .menu {
  position: absolute;
  width: 283px;
  height: 852px;
  top: 0;
  left: 94px;
  background-color: var(--background);
  border-radius: 17px 17px 0px 17px;
  overflow: hidden;
  box-shadow: -30px 4px 120px #314a3e33;
  z-index: 10;
}

.additional-options .user-icon {
  width: 50px;
  top: 54px;
  left: 109px;
  position: absolute;
  height: 50px;
}

.additional-options .user-name {
  width: 189px;
  top: 124px;
  left: 41px;
  position: absolute;
  height: 50px;
}

.additional-options .text-wrapper-10 {
  position: absolute;
  top: 0;
  left: 25px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--text);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .text-wrapper-11 {
  position: absolute;
  top: 32px;
  left: 0;
  font-family: "Poppins", Helvetica;
  font-weight: 500;
  color: #001a234c;
  font-size: 12px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .text-wrapper-12 {
  position: absolute;
  top: 203px;
  left: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--text);
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .text-wrapper-13 {
  position: absolute;
  top: 256px;
  left: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--text);
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .text-wrapper-14 {
  position: absolute;
  top: 309px;
  left: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--text);
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .text-wrapper-15 {
  position: absolute;
  top: 362px;
  left: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--text);
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .text-wrapper-16 {
  position: absolute;
  top: 415px;
  left: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--text);
  font-size: 22px;
  letter-spacing: 0;
  line-height: normal;
}

.additional-options .text-wrapper-17 {
  position: absolute;
  top: 777px;
  left: 20px;
  font-family: "Poppins", Helvetica;
  font-weight: 600;
  color: var(--text);
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9;
}